{% extends 'tasks/base.html' %} {% load static %}{% block head %}
<link rel="stylesheet" href="{% static 'css/aboutUs.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{%endblock head %} {% block content %}
<div class="glass">
	<div id="content">
		<!-- InstanceBeginEditable name="text" -->
		<h1 align="center" class="style9">
			Как делается прогноз погоды. Синоптический прогноз, долгосрочный прогноз
			погоды
		</h1>
		<h2 class="zagolovok-h4">На кухне погоды — как делается прогноз погоды</h2>
		<p>
			Наверное, не стоит лишний раз напоминать, что водномоторники и яхтсмены —
			народ «метеозависимый». Чтобы плавание было не только приятным, но и
			безопасным, погоду на той или иной акватории желательно знать заранее.
			Казалось бы, получить прогноз погоды несложно — к нашим услугам радио,
			телевидение, пресса и вездесущий Интернет (даже если на судне нет
			радиостанции морского или речного диапазонов, позволяющих получить не
			общедоступный, а «профессиональный» прогноз). Однако предсказание погоды —
			дело тонкое.
		</p>
		<p>
			Что такое синоптический прогноз? А долгосрочный? Чем отличается
			фактическая погода от прогностической? Как делается прогноз погоды? Можно
			ли с достаточной точностью предсказать погоду дней на двадцать вперед? Как
			в этом участвует современная техника?
		</p>
		<p>
			Я, синоптик, постараюсь ответить на эти вопросы, не перегружая свой
			рассказ специальными терминами, всякой заумью и незначительными
			частностями.
		</p>
		<h2 class="zagolovok-h4">Первичный сбор информации. Наблюдения</h2>
		<p>
			<img
				src="https://vodnyimir.ru/images/obv/weather-forecast4.jpg"
				alt="Как делается прогноз погоды. Синоптический прогноз, долгосрочный прогноз погоды"
				title="На метеостанциях техники-наблюдатели измеряют давление, температуру, скорость и направление ветра"
				width="250"
				height="351"
				hspace="4"
				vspace="3"
				 align="center"
			/>
			<br>
			Чтобы инженеры-синоптики, равно как и «численники-долгосрочники» (кто
			это такие, объясню чуть ниже), смогли опереться на какую-то информацию,
			данные о погоде каждые три часа поступают от густой сети метеостанций,
			разбросанных по всему миру. Чем гуще эта сеть (естественно, в разумных
			пределах, речь идет о масштабах в десятки километров), тем точнее будет
			прогноз. Без выдаваемых ею первичных данных никакого прогноза не сделать —
			ни вручную, ни на ЭВМ.
		</p>
		<p>
			На метеостанциях техники-наблюдатели измеряют давление, температуру,
			скорость и направление ветра, определяют тип и высоту облачности,
			дальность видимости, отмечают осадки и явления погоды. Все эти данные
			ранее по телеграфу, а теперь с помощью компьютера, отправляются в
			метеоцентры, где они наносятся в виде удобного кода на карту погоды у
			земли и поступают к синоптику для соответствующей обработки и составления
			прогноза (раньше по факсимильной связи, сейчас по компьютерной). Также два
			раза в сутки на многих метеостанциях аэрологи запускают радиозонд —
			воздушный шар, к которому привязан одноразовый прибор с передатчиком. С
			зонда поступает информация о давлении, температуре и ветре на высотах в
			атмосферной толще. Вся эта информация обрабатывается и наносится на
			высотные карты, без которых невозможен полноценный прогноз погоды. Сеть
			метеорологических наблюдений — основа метеопрогнозов. Если какой-то
			фрагмент ее перестанет существовать, это непоправимо ударит по
			метеорологии в целом. Синоптики той местности, куда часто приходят
			воздушные массы с ненаблюдаемых территорий, останутся без необходимой
			информации. Заменить ее чем-либо невозможно.
		</p>
		<p>
			Та «густота» станций, которая есть, вполне способна обеспечить синоптика
			той информацией, что требуется для выяснения закономерностей атмосферных
			процессов и составления по ним прогноза. Вот почему идеи поставить что-то
			вроде наблюдательного поста в каждый двор якобы для уточнения прогноза
			воспринимаются специалистами как бредовые и (или) недобросовестные.
		</p>
		<h2 class="zagolovok-h4">Виды и формы прогноза погоды</h2>
		<p>
			Сегодня прогнозы, которые делают метеорологи, делятся на две
			разновидности: прогноз по народному хозяйству и авиационный прогноз. В
			первый можно включить и прогнозы для судоходства, железной дороги,
			автотрасс. В нем обычно указывается температура воздуха, облачность,
			ожидаемые осадки и ветер, если есть — заметные явления погоды (например,
			туман). При наличии на той или иной территории судоходного водоема даже в
			«общедоступном» прогнозе может приводиться высота волны. Такой прогноз
			делается два раза в сутки, в специальных случаях — раз в несколько часов.
		</p>
		<p>
			Более подробный, регулярный, ответственный авиационный прогноз,
			составляемый каждые три часа синоптиком на аэродроме (местные условия надо
			знать, и свой синоптик есть в каждом аэропорту), включает в себя более
			подробную информацию о ветре, облачности и ее высоте, видимости, опасных
			для самолета явлениях.
		</p>
		<p>
			Я более подробно остановлюсь здесь на прогнозе для народного хозяйства.
			Хотя авиационный прогноз составляется по тем же принципам, большую роль в
			нем играет «преемственность» между прогнозами, составляемыми каждые три
			часа.
		</p>
		<h2 class="zagolovok-h4">Синоптический метод</h2>
		<p>
			Собственно говоря, это и есть тот метод прогноза, которым занимается
			непосредственно синоптик, ради которого он и освоил свою профессию.
			Заключается метод (если упростить) в расчете траекторий воздушных частиц,
			которые должны оказаться в интересующем нас месте в интересующее время. То
			есть для того, чтобы узнать, какая погода будет завтра «здесь», надо
			выяснить, какова сегодня обстановка «там», откуда поступит воздушная
			масса. Тогда мы сможем, посмотрев на синоптическую карту, где указаны
			метеосубстанции (температура, давление, осадки) интересующей воздушной
			массы, и с учетом трансформации (преобразования ее) понять, что нас
			ожидает — дать прогноз.
		</p>
		<table width="354" align="center">
			<tbody>
				<tr>
					<td align="center" bgcolor="#FFFFFF">
						<img
							src="https://vodnyimir.ru/images/obv/weather-forecast2.jpg"
							alt="Приземная синоптическая карта фактической погоды"
							title="Приземная синоптическая карта фактической погоды, по которой десятилетиями работают все синоптики мира"
							width="350"
							height="251"
						/><br />
						<span class="style11"
							>Приземная синоптическая карта фактической погоды, по которой
							десятилетиями работают все синоптики мира:</span
						><br />
						<span class="style10">Т — циклон, Н — антициклон (нем.)</span>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			Описанное выше делается, разумеется, исходя из вполне определенной
			информации — синоптических карт фактической погоды, которая составляется
			по данным наблюдений, полученных с многочисленных метеостанций, а также
			постов. Как уже было сказано, чем гуще эта сеть, тем точнее в конечном
			итоге будет наш прогноз. Теоретически на него может влиять и точность
			наблюдений, но практически на карте любая ошибка отдельного наблюдателя
			нейтрализуется за счет верных наблюдений других станций, создающих
			правильную общую картину.
		</p>
		<p>
			Что же представляет собою та карта, по которой приходится работать
			синоптику? Каждый из нас со школьной скамьи помнит физические карты из
			географического атласа, где, благодаря проведенным линиям равной высоты
			над уровнем моря (изолиниям), мы можем приблизительно узнать эту высоту в
			любой точке, отмеченной на карте. Обычно высота эта градуирована цветом,
			от зеленого (низменности) до коричневого (горы). То же делается с
			глубинами водоемов. Так вот, этот же принцип положен и в основу построения
			синоптических карт, с той только разницей, что изолинии касаются не высоты
			(глубины), а давления, тоже, кстати, приведенного к уровню моря. Но если
			географическая карта составляется и обновляется никак не чаще раза в год,
			а то и реже, то синоптическая карта строится синоптиком (или
			запрограммированной ЭВМ и дорабатывается синоптиком) не реже раза в шесть
			часов, а крупномасштабные — и каждые три часа.
		</p>
		<table width="304" align="center">
			<tbody>
				<tr>
					<td align="center" bgcolor="#FFFFFF">
						<img
							src="https://vodnyimir.ru/images/obv/weather-forecast3.jpg"
							alt="Прогностическая синоптическая карта, построенная расчетными методами ЭВМ"
							title="Прогностическая синоптическая карта, построенная расчетными методами ЭВМ"
							width="300"
							height="269"
						/><br />
						<span class="style11"
							>Прогностическая синоптическая карта, построенная расчетными
							методами ЭВМ:</span
						><br />
						<span class="style10"
							>А — область высокого давления, антициклон; D — область низкого
							давления, циклон (франц.)</span
						>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			А так как для прогноза важна не только (и не столько!) ситуация на земной
			поверхности, но и, в первую очередь, «на высотах», синоптик строит (или
			дорабатывает программные построения) и на этих картах, правда, не реже
			раза в 12 часов: данные меняются не так стремительно, как приземные.
			Изобары (линии равного давления) строятся по тому же принципу, что и
			изогипсы (линии равной высоты). Глядя на значения давления на станциях
			(наносятся в рабочих единицах «миллибар», равной гектопаскалю, если
			перевести в СИ), синоптик как бы интерпретирует его, проводя линии равного
			давления (через 5 миллибар или через 2,5 на крупномасшабных
			картах-кольцовках). Получается так называемое поле давления (аналогично
			тому, как на географических картах — поле высоты). Примерно так же
			обрабатываются и данные радиозондирования в пунктах наблюдения для
			составления высотных карт, не считая не очень важных нюансов. Поле
			давления позволяет судить о направлении движения воздушных масс, что и
			представляет собой основу прогноза. Если упростить, движутся они вдоль
			изобар, на некоторой высоте, где слева находится низкое давление, а справа
			— высокое. Нанося на высотные карты центры барических образований (циклоны
			и антициклоны) с приземной карты (по обычным географическим координатам),
			исходя из скорости ветра на соответствующих высотах, синоптик
			рассчитывает, где окажутся центры циклонов и антициклонов в определенное
			время, а также где находятся атмосферные фронты, на которых и образован
			циклон, влияющие на погоду более всего. Расчет этот производится буквально
			с линейкой, часто специальной, по нескольким картам. Для прогноза явлений
			погоды часто используются специальные расчетные методы, обычно в каждой
			местности свои. Это вспомогательный к основному, синоптическому, метод
			прогноза. Кроме того, синоптик аналогичным образом строит поля температуры
			(проводит изотермы на подходящей карте — высота около 1,5 км), изменения
			давления на приземной карте и делает ряд иллюстративных обозначений на
			картах: осадки, низкая облачность и т.д. Это помогает в работе над
			составлением
			<a
				href="https://vodnyimir.ru/"
				style="text-decoration: none; color: #000000"
				>прогноза погоды</a
			>.
		</p>
		<table width="304" align="center">
			<tbody>
				<tr>
					<td align="center" bgcolor="#FFFFFF">
						<img
							src="https://vodnyimir.ru/images/obv/weather-forecast.jpg"
							alt="Современный спутниковый снимок облачности"
							title="Современный спутниковый снимок облачности"
							width="300"
							height="302"
						/><br />
						<span class="style11"
							>Современный спутниковый снимок облачности.</span
						>
					</td>
				</tr>
			</tbody>
		</table>
		<p>
			В целом, это и все. Синоптик рассчитывает, откуда придет воздушная масса в
			его пункт в нужное время, по густоте предполагаемых в его пункте изобар
			(чем больше перепад давления по горизонтали, тем сильнее ветер),
			прогнозирует силу и направление ветра по расположению изменения давления,
			по температуре в месте, откуда пришла масса воздуха, и прежней в пункте —
			температуру, по обстановке в барическом образовании, ожидаемом в том или
			ином пункте — облачность и осадки. Для дополнения и уточнения — но никак
			не в качестве основного и главного! — используется ряд дополнительных
			материалов: спутниковые снимки облачности, аэрологические диаграммы
			(позволяющие определить вероятность ливневых осадков), вертикальные
			разрезы и др. Неверно думать, например, что синоптик по большей части
			зависит от снимка облачности из космоса, как это считают некоторые. Снимок
			облачности бывает очень полезен, он позволяет уточнить многое из того, что
			видно по картам, однако его роль чисто вспомогательная. Без него можно
			легко обойтись (хотя иногда и с вероятным ущербом для точности прогноза),
			а вот без карт — совершенно невозможно.
		</p>
		<p>
			Стоит ли говорить, что составляемый на таких принципах прогноз — довольно
			субъективная вещь? Один специалист в данной ситуации может, например,
			указать на завтра температуру воздуха в пункте 19–20° С, а другой —
			21–23°, и это совершенно нормально, это один и тот же прогноз, просто
			немного по-разному интерпретированный. Уточню еще, что прогноз
			синоптическим методом составляется на срок до полутора суток. Прогнозы
			большей продолжительности составляются совсем иными методами, имеющими
			очень мало общего с вышеописанным, и занимаются ими, строго говоря, не
			синоптики, а метеорологи других, смежных специальностей. Обычно их
			называют «долгосрочниками». На сегодня прогноз синоптическим методом,
			ориентирующийся на расчетный гидрологический прогноз, не может быть
			заменен ничем — например, просто расчетным методом. Повторю, речь идет
			именно о краткосрочном прогнозе — до полутора суток. Точность его при
			квалифицированной работе хорошо подготовленного специалиста вполне
			удовлетворительна.
		</p>
		<h2 class="zagolovok-h4">
			Долгосрочный прогноз погоды гидродинамическим методом
		</h2>
		<p>
			Еще лет 20–25 назад долгосрочный прогноз погоды составлялся вручную
			особыми методами; теперь же они практически полностью вытеснены расчетами
			на ЭВМ по специальным программам гидродинамическим методом. Не стоит
			вдаваться в подробности, но методы эти основаны на математических моделях
			атмосферы. Если мы говорим о прогнозе на ближайшие двое–десять суток, то
			всегда имеем дело с результатами такого гидродинамического расчета на ЭВМ.
			Как я уже сказал, составляют его не синоптики, а так называемые
			метеорологи-численники.
		</p>
		<p>
			Сегодня расчеты подобного рода, по сравнению с еще десятилетней давностью,
			обладают великолепной точностью, о которой раньше не приходилось и
			мечтать. Это связано с развитием электронно-вычислительной техники. В
			последнее десятилетие гидродинамический машинный прогноз стал теснить даже
			краткосрочные прогнозы синоптическим методом. Во всяком случае сегодня, в
			отличие от прежних лет, синоптик в той или иной степени опирается или
			ориентируется на него. Расчетная прогностическая карта, сделанная этим
			методом, является основой в описанном выше синоптическом прогнозе. И если
			раньше информация из детских книг о том, что работа синоптика заключается
			в нажатии кнопки на ЭВМ и получении расчетного прогноза, вызывала у
			посвященных гомерический хохот, то теперь это не так уже и далеко от
			истины. В том смысле, что у него есть возможность едва ли не полностью
			довериться такому машинному прогнозу, сделанному численным методом. Другое
			дело, что чем квалифицированнее и опытнее синоптик, тем больше он надеется
			на себя и меньше готов внимать машине.
		</p>
		<p>
			Тем не менее многочисленные популярные прогнозы, публикующиеся в газетах,
			выходящие на радио, телевидении и в Интернете, обычно относятся именно к
			этому типу. Часто их называют модельными, ибо они делаются с помощью
			расчетов, разработанных на основе различных атмосферных моделей. В каждой
			стране существуют свои модели, часто их несколько. На сегодня наиболее
			успешно в прогнозах используются американская и две английские модели,
			реже немецкая. Вот список Интернет-ресурсов, на которых можно почерпнуть
			прогностическую информацию такого рода:
		</p>
		<p>
			http://pogoda.ru.net — здесь даются «ансамблевые» прогнозы (по трем
			основным моделям), и пользователю выдаются осредненные значения
			метеовеличин (среднее из 3 моделей);
		</p>
		<p>
			http://meteocenter.net — лучший погодный сайт в СНГ на сегодня,
			отличающийся обилием «профессиональной» информации;
		</p>
		<p>
			http://www.weatheronline.co.uk — данные одной из лучших в мире английских
			моделей.
		</p>
		<p>
			http://www.gismeteo.ru — известный прогностический сайт, использующий одну
			из лучших моделей.
		</p>
		<p>
			Так же, как нет двух синоптиков, которые напишут в одинаковых условиях
			идентичный прогноз, так нет и двух моделей, расчеты которых полностью
			совпадут. Поэтому часто в разных СМИ прогнозы разные. С чем это связано?
			Такие программы содержат ряд учитываемых параметров, но в одной модели,
			скажем, недостаточно учтен фактор снежного покрова и повысившейся
			отражаемости, другая модель по каким-то причинам плохо учитывает рельеф
			местности и неточно рассчитывает трансформацию воздушных масс и т. д. В
			определенных условиях прогнозы одних моделей могут быть лучше других, в
			иных случаях — наоборот. Зимой, скажем, точнее одна модель, летом —
			другая.
		</p>
		<p>
			Прогнозы более чем на десять суток пока невозможно сделать с необходимой
			точностью даже с помощью расчетов на ЭВМ. Они делаются сложными старыми
			методами и обычно имеют самый ориентировочный характер. Отмечу, что и
			расчеты на 8–10 суток уже часто как бы сдвигаются на день-другой. Поэтому,
			если сегодня мы читаем на таком-то метеосайте, что через 10 дней будет 20°
			тепла, то должны быть готовы к тому, что это случится через 8 или 12 дней.
			Если угадана тенденция, прогноз на такой срок считается хорошим.
		</p>
		<h3 class="zagolovok-h4">Почему люди часто недовольны прогнозом?</h3>
		<p>
			Скажу сразу о самой распространенной причине – непонимании потребителями
			прогнозов сути дела. Самое характерное: прогноз слышали на завтра по
			Москве, а решили его проверять сегодня в Петербурге. Стоит ли удивляться,
			что многое не сходится? Чаще бывают менее вопиющие случаи, но такие же по
			сути. Вывод: следует слушать, на какое время и в каком пункте дается
			прогноз.
		</p>
		<p>
			Второй вид недовольства опять связан с непониманием сути прогноза. Так,
			ночью прогнозируется минимальная, а днем — максимальная температура. Таким
			образом, прогноз «днем 20–22°С» должен пониматься как «в какой-то момент
			дня температура (обычно часа в 4–5) дойдет до 20–22°С». А вовсе не как
			«посмотрю-ка я за окно на термометр или на телеэкран, увижу 10 градусов (а
			сейчас около семи часов утра) и начну вопить, что синоптики опять
			обманули». Помните: прогнозируется самая высокая температура за день, а
			вовсе не температура в каждый момент дня, так как она меняется в широком
			диапазоне. Я уж не говорю о том, что висящий на стене дома термометр часто
			показывает вовсе не температуру воздуха (которая должна измеряться на
			двух, между прочим, метрах от земли), а температуру самой стены, нагретой
			снаружи солнцем или изнутри батареей.
		</p>
		<p>
			Причинами недоразумений могут стать амбициозность и непонимание предмета
			со стороны радио-, теле- и других журналистов. К сожалению, в последнее
			время у них стало нормой навязываться в «соавторы» синоптику. Например,
			все прогнозы по пункту синоптик делает в градации 2°, по территории и на
			несколько дней — 5°. Этот факт подчеркивает, что дать точный прогноз
			нельзя, и синоптик это понимает и не претендует на невозможное. Но
			журналистам удобнее давать прогноз одним числом: 13° вместо 12–14,
			полученных от синоптика, 7° вместо 5–10° и т. д. Безусловно, все это
			дискредитирует синоптика, представляет его претендующим на невозможную
			точность, обрекает на мнимые большие промахи (14° при прогнозе 15–20° —
			это одно, а при прогнозе 18° — совсем другое), Но не только этим
			журналисты наносят непоправимы вред синоптику. Например, они запросто
			могут вместо данных «без существенных осадков» (что по профессиональному
			Наставлению равнозначно «без осадков») сказать «осадки будут
			несущественными» и т. д.
		</p>
		<p>
			Все это — непонимание сути и принципов прогноза, безалаберность
			журналистов, искажение информации — влечет за собой подрыв репутации
			метеорологов вообще и синоптиков в частности, недоверие людей к прогнозу
			погоды. На самом деле сегодня прогнозы погоды, особенно краткосрочные,
			находятся на весьма высоком, удовлетворяющем потребности народного
			хозяйства уровне.
		</p>
		<p>
			Метеорологическая служба нашей страны, как и службы всего мира, успешно
			справляется с обслуживанием и авиации, и потребностей народного хозяйства.
			Развитие науки и техники делает прогнозы все более долгосрочными и
			надежными.
		</p>

		{% endblock content %} {% block background-image %} {{ backgroundUrl }}
		{% endblock background-image %}
	</div>
</div>
