{% extends 'tasks/base.html' %} {% load static %}{% block head %}
<link rel="stylesheet" href="{% static 'css/aboutUs.css' %}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
{%endblock head %} {% block content %}
<div class="glass">
	<h1 class="white">О сайте</h1>
	<p class="white">
		Добрый день! Вашему вниманию представляется курсовая работа по дисциплине
		«Разработка клиентских частей интернет-ресурсов» студента Макарова Дмитрия
		Владимировича группы ИКБО-02-19 на тему «Разработка интернет-ресурса на тему
		«Погода на месяц»», руководитель проекта: старший преподаватель, Чехарин
		Евгений Евгеньевич.
	</p>
	<br />
	<p class="white">
		Заданием предусмотрено создание интернет-ресурса с использованием технологий
		HTML5, CSS3, JavaScript, где наиболее инновационным, интересным и сложным
		представляется реализация современной адаптивной вёрстки и создание слоя
		клиентской логики с использованием JavaScript-скриптов с применением
		фреймворка обработки запросов jQuery. Задание выполнено в установленный
		срок.
	</p>
	<br />
	<p class="white">*Что было сделано в ходе курсовой работы*</p>
	<br />
	<p class="white">
		В результате выполненной работы был создан интернет-ресурс на тему «Гаджеты
		21-го века» с соблюдением установленных требований к курсовой работе, что
		отвечает постановке задачи.
	</p>
	<br />
	<p class="white">
		При этом в процессе исполнения были освоены следующие профессиональные
		компетенции:
	</p>
	<br />
	<p class="white">
		ПК-1 (способность выполнять разработку и интеграцию программных модулей и
		компонент, верификацию выпусков программных продуктов информационных систем)
	</p>
	<br />
	<p class="white">
		ПК-1.2 (Знание интерфейсов взаимодействия с внешней средой при создании
		информационных систем);
	</p>
	<p class="white">
		ПК-1.12 (Умение применять методы и средства создания программных интерфейсов
		информационных систем);
	</p>
	<p class="white">
		ПК-1.16 (Владение разработкой процедур миграции и преобразования
		(конвертации) данных при создании информационных систем).
	</p>
	<p class="white">
		То есть обретены умения и навыки в части создания информационных систем, в
		частности клиентских частей интернет-ресурсов, а также ассоциативно охвачены
		освоением требования профессионального стандарта 06.001 «Программист» в
		объёме третьего профессионального уровня в части обобщённых трудовых функций
		по поз. А/02.3 «Написание программного кода с использованием языков
		программирования, определения и манипулирования данными.
	</p>
	<p class="white">
		*Подведение итогов, результаты выполненной курсовой работы, что было
		сделано*
	</p>
	<p class="white">Благодарю за внимание. Доклад окончен.</p>

	<script
		type="text/javascript"
		src="https://vk.com/js/api/openapi.js?168"
	></script>

	<script type="text/javascript">
		VK.init({ apiId: 4635372, onlyWidgets: true });
	</script>

	<!-- Put this div tag to the place, where the Comments block will be -->
	<div id="vk_comments"></div>
	<script type="text/javascript">
		VK.Widgets.Comments("vk_comments", { limit: 20, attach: "*" });
	</script>
</div>
<!-- Put this script tag to the <head> of your page -->


	{% endblock content %} {% block background-image %}
	{{ backgroundUrl }} {%endblock background-image %}
